<!-- <button class="btn btn-success" 
(click)="isDisabled = !isDisabled">Toggle directive styles</button> -->

<button class="btn btn-success" 
(click)="onToggleChange()">Toggle directive styles</button>
<hr>
<div *appUnless="isDisabled">
    <p [ngClass]="'myColor'" >Colored using,1 ngClass</p>
    <p [ngClass]="{myColor: true}" >Colored using,2 ngClass</p>
    <div [ngStyle]="{'color': 'blue', 'font-size': '24px', 'font-weight': 'bold'}">
        style using ngStyle
    </div>
    <div appBasicHighlight>
        Styled using basic highlight directive
    </div>
    <div [appBetterHighlight]="'lightgreen'" [defaultColor]="'yellow'">
        Styled using Better highlight directive
    </div>
</div>

<div [ngSwitch]="value">
    <label *ngSwitchCase="1">ngSwitch value is 1, {{value}} times Toggle is pressed</label>
    <label *ngSwitchCase="2">ngSwitch value is 2, {{value}} times Toggle is pressed</label>
    <label *ngSwitchCase="3">ngSwitch value is 3, {{value}} times Toggle is pressed</label>
    <label *ngSwitchDefault>ngSwitch default value is 13, {{value}} times Toggle is pressed</label>
</div>



